{% extends 'base.html' %}

{% block head %}
<title>Inventory Tracker</title>
{% endblock %}

{% block body %}
<div class="Content">
    <h1 style="text-align: center">Update Item</h1>
    <br>
    <br>

    <table>
        <tr>
            <th>Item Name</th>
            <th>Item ID</th>
            <th>Quantity</th>
            <th>Cost per Unit</th>
            <th>Total Value</th>
            <th>Date Added</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </tr>
        <tr>
            <form action="/update/{{item.row_id}}" method="POST">
            <td><input type="text" name="itemname" id="itemname" value="{{item.name}}"></td>
            <td><input type="number" name="itemid" id="itemid" value="{{item.item_id}}"></td>
            <td><input type="number" name="quantity" id="quantity" value="{{item.quantity}}"></td>
            <td><input type="text" name="costperunit" id="costperunit" value="{{item.cost_per_unit/100}}"></td>
            <td>{{ "$%.2f"|format(item.total_value/100) }}</td>
            <td>{{ item.date_created.date() }}</td>
            <td>{{ item.date_last_updated }}</td>
            <td><input type="submit" value="Update Item" id="updateitem"></td>
            </form>
            
        </tr>
    </table>

</div>
{% endblock %}
